


@import url(base/global.css);

.colorFondo{
    width: 90%;
    margin: 0 auto;
    margin-top: 2vh;
    background-color: var(--grisAzul);
    height: 8vh;
}



.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;


}


.botonPrimario{
    
    background-color: var(--azulOscuro);

    color:var(--blanco);
    
    border: none;

    width: 90%;

    border-radius: 15px;

    padding: 30px;

    text-align: center;

    text-decoration: none;


}


.botonSecundario{

    background-color: var(--grisAzul);

    color:var(--azulOscuro);


    text-decoration: none;
    
    border: none;

    width: 80%;

    border-radius: 15px;

    padding: 20px;

    border:2px solid var(--azulOscuro);

    margin-top:3rem;

    text-align: center;


    
}